.rowOne {
    border-rigth: 20px;
    background-color: #fff5ec;
    padding: 15px 0px 15px 22px;
    margin: 20px 0px 25px 0px;
}
.rowTwo {
    background-color: #fff5ec;
    padding: 15px 0px 0px 22px;
    margin: 20px 0px 10px 0px;
}
.alignment{
  text-align: right;
}
.textbox{
  width: 315px;
  border-radius: 0px;
}
.textboxPhone{
  width: 55px;
  border-radius: 0px;
}
.dropDown1{
  width:470px;
}
.dropDown2{
  width:220px;
}
.rowTwoTableTwo{

  margin: 0px 0px 15px 85px;
  padding: 0px 0px 20px 0px;
}
.rowOneTableOne{
  margin: 0px 0px 0px 125px;
}
.headStyle{
  margin: 0px 0px 0px 100px;
  color: #466e77;
}
.paraStyle{
  margin: 0px 0px 0px 115px;
}
